<appSettings>
  <!-- SendGrid-->
  <add key="mailAccount" value="account" />
  <add key="mailPassword" value="password" />
  <!-- Twilio-->
  <add key="SMSAccountIdentification" value="AC32fdf9d8111598375a648c15d30236840" />
  <add key="SMSAccountPassword" value="54a7c905f0dce23d95a4d5987810c857" />
  <add key="SMSAccountFrom" value="+1206559878234" />
</appSettings>